@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700');

//*************************** Player Card **************************//
.showPlayerCard {
  text-align: center;
}
.showPlayerCard button {
  color: white;
  background-color: black;
  border: 0;
}
.playerCardContainer {
  position: absolute;
  z-index: 9999;
  text-align: center;
  top: 0;
}
.playerCard {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  background: black;
  color: white;
  padding: 1px 10px;

  button {
    border: 0;
    background: black;
    outline: none;
  }
}


//*************************** Assassin *****************************//

.assassinContainer {
  position: absolute;
  width: 90%;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  background-color: #C9B89E;
  color: white;
}

.assassinContainer .row {
  margin-left: 0;
  margin-right: 0;
}

.goodPlayerCard{
  height: 150px;
  border: 1px solid #63513f;
}


//*************************** Lady *********************************//

.ladyCardContainer {
  padding-right: 5px;
  paddign-left: 5px;
}

.ladyCardContainer button {
  padding: 0;
  border: 0;
}

.confirmLady {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  background: #C9B89E;
  color: white;
  width: 80%;
  height: 109px;
  border: 4px double #63513f;
  text-align: center;
  padding-top: 10px;
  font-family: fantasy;
  border-radius: 10px;
}

.confirmLady button {
  margin-left: 5px;
  margin-right: 5px;
}

.showLady {
  background-color: #b4d69a;
}

.cancelLady {
  background-color: #ecead9;
}

.ladyCard {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 67%;
  color: white;
  padding: 16px 30px;
  background: #102f02;
  border-radius: 26px;
  background-position: center;
  background-size: 70%;
  .name {
    padding: 32px;
    font-size: 30px;
    font-family: fantasy;
  }
}



.closeLady {
  background-color: #c3e8bd;
  margin: 10px;
  width: 80%;
}
//*************************** Quest Voting Cards *******************//

.questVoteCardContainer {
  position: absolute;
  top: 100px;
  z-index: 9999;
  width: 100%;
  text-align: center;
}

.questVoteCard {
  margin: 0 1%;
  width: 48%;
  border: 0;
  padding: 0
}


//*************************** Voting Cards ************************//

.votingCardsContainer {
  text-align: center;
}

.votingCard {
  text-align: center;
  width: 140px;
  margin: 30px;
  border: 0;
  background: transparent;
  outline: none;
}

.votingCard[disabled] {
  width: 90px;
  cursor: not-allowed;
  opacity: 0.6
}

.approve {
  color: #84927a;
}

.reject {
  color:  #63513f;
}
//**************************** PLAYER LIST ***********************//

.playerList {
  background: #63513f;
  border: 1px solid #ecead9;
  border-radius: 15px;
  margin: 0 10px;
  color: white;
  font-family: 'fantasy';
  letter-spacing: 1px;

}

 .info {
  font-size: 0.6em;
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
  padding: 3px;
 }

.noInfo {
  background: grey;
}

.evil {
  background: #b33a3a;
}

.percival {
  background: #ffcc00;
  color: white;
}

.playerItem {
  border: 1px solid #ecead9;
  padding: 5px 10px;
  margin-left: 0;
  margin-right: 0;
}

.playerItem:first-child {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.playerItem:last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.turn:before {
  display: block;
  width: 100%;
  height: 2em;
  content: " ";
  background: url(/assets/quest_leader.png) no-repeat;
  background-size: contain;
}

.selected {
  display: flex;
}

.selected:after {
  display: block;
  width: 100%;
  height: 2em;
  content: " ";
  background: url(/assets/quest_player.png) no-repeat;
  background-size: contain;
  margin-left: 6px
}

.addToQuest {
  color: lightgreen;
  background: transparent;
  border-radius: 50px;
  width: 2rem;
  height: 2rem;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  outline: none;
  border-color: white;
  padding: 0;

}

.removeFromQuest {
  color: red;
  background: transparent;
  border-radius: 50px;
  padding-bottom: 0.3em;
  width: 2rem;
  height: 2rem;
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  outline: none;
  border-color: white;
  padding: 0;
}

.confirmQuest {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #66d9ef;
  color: green;
}

//**************************** On Quest ***********************//

.onQuest {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  background: black;
  color: white;
  width: 50%;
  border: 5px dashed white;
  padding: 30px 10px;
  text-align: center;
  font-size: 21px;
  font-family: cursive;
}
