.flex-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.flex-item {
  background: transparent;
  color: red;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.player-name {
  font-family: fantasy;
  font-size: 3em;
  text-align: center;
  font-weight: bold;
}

.cursive {
  font-family: cursive;
}

.bold {
  font-weight: bold;
}

.together {
  display: inline
}

.game-options {
  font-size: 2em;
}

.input-group-addon {
  padding: 12px 6px 6px 6px;
  background-color: inherit;
  border: none;
  text-align: left;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    width:20px;
    height:20px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
input[type='checkbox']:checked {
    background: black;
}

.form-actions {
  text-align: center;
}
.legend {
  text-align: center;
  font-size: 1.25em;
}
.start-game {
  font-size: 1em;
  margin-top: 0.6em;
  margin-bottom: 0.4em;
}

.quest-leader {
  color: blue;
  border: 2px solid yellow;
}

.glyphicon {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  vertical-align: bottom;
  text-align: left;
}

.game_board_7 {
  max-width: 1487px;
  max-height: 1089px;
  width: 100vw;
  height: calc(100vw / 1.365);
  background-image: url("game_board_7.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.player-card-container {
  height: 33%;
  border: 2px solid black;
}

.round-display-container {
  height: 40%;
  border: 2px solid black;
}

.round-display {
  border: 2px solid red;
  height: 100%;
  width: 20%;
}
