.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ant-card-bordered {
  border: 1px solid #e9e9e9;
}

.ant-card {
  background: #fff;
  border-radius: 4px;
  font-size: 12px;
  position: relative;
  overflow: hidden;
  transition: all .3s;
}

.custom-card {
  padding: 10px 16px;
}

.custom-image img {
  display: block;
}

.flex-item {
  background: transparent;
  padding: 5px;
  width: 200px;
  margin-top: 10px;

  line-height: 150px;
  color: black;
  font-weight: bold;
  font-size: 3em;
  font-family: fantasy;
  text-align: center;
}

.player-name {
  font-family: fantasy;
  font-size: 3em;
  text-align: center;
  font-weight: bold;
}

.cursive {
  font-family: cursive;
}

.bold {
  font-weight: bold;
}

.together {
  display: inline
}

.game-options {
  font-size: 2em;
}

.input-group-addon {
  padding: 12px 6px 6px 6px;
  background-color: inherit;
  border: none;
  text-align: left;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    width:20px;
    height:20px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
input[type='checkbox']:checked {
    background: black;
}

.form-actions {
  text-align: center;
}
.legend {
  text-align: center;
  font-size: 1.25em;
}
.start-game {
  font-size: 1em;
  margin-top: 0.6em;
  margin-bottom: 0.4em;
}

.quest-leader .ant-card:before {
    content: " ";
    background: url(/assets/quest_leader.png) no-repeat;
    background-size: contain;
    display: block;
    width: 100%;
    height: 64px;
    position: absolute;
}

.glyphicon {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  vertical-align: bottom;
  text-align: left;
}
