.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-item {
  background: transparent;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;

  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}
